body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

h3 {
    padding-bottom: 20px;
    color: #A3A3A3;
}

.page {
    position: relative;
    padding: 10px;
    min-height: 500px;
}

.pageHeader {
    display: inline-block;
    width: 100%;
}

.pageFooter {
    padding-top: 50px;
}

.headerIcon {
    float: right;
    margin-left: 10px;
}

.headerSemaphore {
    float: right;
    border: 4px solid black;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 15px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}

.measureName {
    padding-right: 10px;
    font-weight: bold;
}

.headerInfoBlock {
    float: left;
}

.content {
    float: left;
    position: relative;
}

.icon {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 25px;
    width: 80%;
    height: 10px;
    background-color: red;
}

.arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: red;
}

.arrow::after {
    top: -8px;
    transform: rotate(45deg);
}

.arrow::before {
    top: 8px;
    transform: rotate(-45deg);
}

.arrowDown {
    transform: rotate(90deg)
}

.arrowUp {
    transform: rotate(-90deg)
}

.detailChartBlock {
    padding-top: 20px;
    height: 300px;
}